@import './src/colors'

.profilePage
  background-color: $bgMainColor
  height: 100vh
  .pageTitle
    margin-top: 80px
    color: $textColor
  .profilePicContainer
    width: 120px
    height: 100%
    padding-left: 20px
    margin: 0
    display: flex
    align-items: center
    justify-content: center
    color: $textColor
  .detailsWrapper
    display: flex
    align-items: center
    justify-content: center
    margin-top: 1.5rem
    .detailsList
      text-align: left
      color: $textColor
      padding: 10px 10px

@media (max-width: 567px)
  .profilePage
    .detailsWrapper
      font-size: small
      margin-top: 0