.header
  position: absolute
  background-color: rgb(139,215,136)
  height: 60px
  color: white
  width: 100%

  .logo
    font-size: 24px
    color: white

    & span
      font-weight: 900

  .headerLinks
    margin-left: auto

    .headerLink
      color: white
      margin-right: 20px
      background-color: transparent
      border: none
      padding: 0

      &:hover
        text-shadow: white 0 0 10px
        text-decoration: none



