.header
  background-color: rgb(139,215,136)
  height: 60px
  color: white

  .logo
    font-size: 24px
    color: white

    & span
      font-weight: 900

  .headerLink
    color: white
    margin: 0 20px
    border: none
    padding: 0

    &:hover
      text-shadow: white 0 0 10px
      text-decoration: none



