@import './src/colors'

.transactionText
  .trxTextContainer
    margin-left: 5px
    height: 24px
    line-height: 24px
    display: flex
    justify-content: flex-start
    .trxText
      color: $darkTextColor
